saved_variables.cfg
adxl_results/belts/*.csv
adxl_results/vibrations/*.tar.gz
*.bkp
*.conf.2*
saved_variables.cfg
K-ShakeTune_results/**/*.csv
K-ShakeTune_results/vibrations/*.tar.gz
mainsail.cfg
config_backups/*.cfg
printer-*.cfg
